<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="ENV_BLAISE_SERVER_HOST_NAME" value="localhost" />
    <add key="ENV_BLAISE_ADMIN_USER" value="" />
    <add key="ENV_BLAISE_ADMIN_PASSWORD" value="" />
    <add key="ENV_BLAISE_SERVER_BINDING" value="HTTPS" />
    <add key="ENV_BLAISE_CONNECTION_PORT" value="8031" />
    <add key="ENV_BLAISE_REMOTE_CONNECTION_PORT" value="8033" />
    <add key="ENV_CONNECTION_EXPIRES_IN_MINUTES" value="90" />
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

</configuration>